* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #F0F0F0;
    margin: 3%;
    overflow-x: hidden;
}

h1 {
    display: inline;
}

#closeImage {
    width: 5%;
    float: right;
}

.row {
    display: flex;
    width: 100%;
    margin-top: 4%;
    background-color: #ffffff;
    position: relative;
    min-height: 300px;
}

.description {
    padding: 2%;
    display: flex;
}

#image {
    width: 25%;
    padding: 2%;
    border: 2px #C0C0C0 solid;
    margin: 2%
}

.detail {
    padding-left: 5%;
    font-size: 34px;
    font-weight: 800;
}

.quantity {
    position: absolute;
    right: 5%;
    min-height: 600px;
}

.amount {
    font-size: 34px;
    position: absolute;
    height: 300px;
    bottom: 5%;
    display: inline-flex;
    color: #C0C0C0;
    font-weight: bolder;
}

.amount b {
    color: black;
    padding-left: 5px;
}

.numberCircle {
    width: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #ffffff;
    background-color: #F0F0F0;
}

#line {
    margin-top: 2%;
    border: 6px #C0C0C0 solid;
}

.total {
    margin-top: 2%;
    font-size: 38px;
    display: flex;
    color: #C0C0C0
}

.totalQnty {
    position: absolute;
    right: 5%;
    text-align: end;
}

.totalAmt {
    color: #C0C0C0;
}

.totalAmt b {
    color: black;
    padding-left: 5px;
}

#text {
    font-size: 32px;
    color: black;
}

#btn {
    margin-top: 4%;
    text-align: center;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.firstBlock {
    display: flex;
    background-color: black;
}

.numberBlock {
    margin-right: 4%;
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: 32px;
    border: 2px solid black;
    background-color: rgb(240, 240, 240);
    line-height: 100px;
}

.symbolBlock {
    margin-right: 4%;
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: 32px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.925);
}

.subSymbol {
    position: relative;
    width: 30px;
    height: 100px;
}

.subSymbol::before,
.subSymbol::after {
    content: "";
    position: absolute;
    background-color: rgba(15, 15, 15, 0.568);
    margin-left: 45px;
}


/* horizontal line */

.subSymbol::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: -2px;
}

.addSymbol {
    position: relative;
    width: 30px;
    height: 100px;
}

.addSymbol::before,
.addSymbol::after {
    content: "";
    position: absolute;
    background-color: rgba(10, 9, 9, 0.568);
    margin-left: 45px;
    margin-top: 36px;
}


/* Vertical line */

.addSymbol::before {
    top: 0;
    left: 42%;
    width: 4px;
    height: 30%;
}


/* horizontal line */

.addSymbol::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: -2px;
}

.secondBlock {
    background-color: red;
    width: 100%;
    text-align: center;
}

.close {
    cursor: pointer;
    color: #fff;
    font-size: 170px;
    display: inline-block;
}

.close:before {
    content: "×";
}

#text2 {
    text-align: center;
    line-height: 9.7;
    font-weight: bolder;
}

.hoverRow {
    width: 100%;
    background-color: #000000;
    min-height: 300px;
    align-items: center;
    position: relative;
    padding-left: 4%;
    display: none;
    transition: .5s ease;
}

.row:hover .hoverRow {
    display: flex;
}

.row:hover .description {
    display: none;
}